.home{
    width: 100%;
    height: 87vh;
}

.intro{
    margin-left: 15%;
    margin-top: 20%;
}
.intro h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}
.intro span{
    color: #ff4321;
}
.intro p{
    
}