:root {
  --accent: #252527;
  --base: #252527;
  --scale: white;
}


.home{
  width: 100%;

}


.intro {
  margin-left: 10%;
  margin-top: 15%;
}

.character-effects {
  display: inline-block;
  width: 100%;

}


.letter-effect {
  top: 100px;
  width: 100%;
  /* padding: 100px 0; */
  text-align: left;
  margin-top: 5%;
  margin-left: 60px;
}

.like-text {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
}

.desc {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}


.popup-text span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 25px;
  transition: .5s;
  text-shadow: 0 0px 0 rgb(48, 47, 47, 1),
    0 0px 0px rgba(0, 0, 0, .2),
    0 0px 0px rgba(0, 0, 0, .2),
    0 0px 0px rgba(0, 0, 0, .2);
}

.popup-text span:hover {
  text-shadow: -10px 10px 0 rgba(0, 0, 0, 1),
    0 10px 40px rgba(0, 0, 0, .2),
    0 20px 30px rgba(0, 0, 0, .5),
    20px 20px 20px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(1)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'L';
}

.popup-text span:nth-child(1):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(1)::after {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),

    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'L';
  z-index: 2;
}

.popup-text span:nth-child(2)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'A';
}

.popup-text span:nth-child(2):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(2)::after {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),

    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'A';
  z-index: 2;
}

.popup-text span:nth-child(3)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'K';
}

.popup-text span:nth-child(3):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(3)::after {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),

    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'K';
  z-index: 2;
}

.popup-text span:nth-child(4)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'H';
}

.popup-text span:nth-child(4):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(4)::after {
  position: absolute;
  top: 0;
  left: 0;

  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),

    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'H';
  z-index: 2;
}

.popup-text span:nth-child(5)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'A';
}

.popup-text span:nth-child(5):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(5)::after {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),

    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'A';
  z-index: 2;
}

.popup-text span:nth-child(6)::before {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  color: #FFC107;
  transition: .5s;
  z-index: 1;
  content: 'N';
}

.popup-text span:nth-child(6):hover::after {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.popup-text span:nth-child(6)::after {
  top: 0px;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .3);
  color: #fff;
  transition: .5s;
  content: 'N';
  z-index: 2;
}

.popup-text span:hover:before {
  top: -10px;
  left: 10px;
}

.popup-text span:hover:after {
  top: -20px;
  left: 20px;
}


/* Download button CSS Start  */


.download-button {
  text-decoration: none;
  margin: 25px 0 15px;
  color: #ff5100;
  width: 100%;
  max-width: 220px;
  height: 50px;
  display: block;
  text-align: center;
  position: relative;
  letter-spacing: 3px;
  line-height: 50px;

}

.download-button div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 5px;

}

.download-button:hover div {
  transform: scale(0.9);
}

.download-button div span.bg {
  background-color: #ff5100;
  position: absolute;
  width: 0;
  height: 100%;
  left: -5%;
  top: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: skewX(-19deg);
  -ms-transform: skewX(-19deg);
  transform: skewX(-19deg);


}

.download-button div:hover span.bg {
  width: 110%;

}

.download-button span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff5100;
  border-radius: 5px;
}

.download-button span.text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.download-button:hover span.text {
  color: #fff;
}

/* Download button CSS End  */

/* image animation CSS */
/* .image-effects {
  display: inline-block;
  width: 100%;
}

.img-box {

  height: 80%;
  position: relative;
  top: 715px;
}

.img-box img {
  width: 35rem;
  position: absolute;
  left: 20px;
  bottom: 0;
  transform: translateX(8%);
  transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .main-img {
  left: 8%;
}

.img-box .main-img {
  width: 30rem;
  margin-left: 65px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

} */

.image-effects {
  display: block;
  width: 100%;
}

.img-box {
  position: relative;
  padding-bottom: 100%;
  width: 85%;
  height: 82vh;
}

.img-box img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(8%);
  transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .main-img {
  left: 8%;
}

.img-box .main-img {
  transform: scaleX(-1);
}


/* .mobile_image-effects {
  display: inline-block;
  width: 40%;
  position: relative;
}

.mobile_img-box {
  height: 55vh;
 
}

.mobile_img-box img {
  width: 28rem;
  position: absolute;
  left: 0%;
  top: -15%;
  bottom: 0;
  transform: translateX(10%);
  transition: top 1s, left 1s;
}

.mobile_img-box:hover .back-img {
  top: -25%;
}

.mobile_img-box:hover .main-img {
  left: 10%;
}

.mobile_img-box .main-img {
  width: 25rem;
 margin-left: 35px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border: 2px #FFC107;
} */

@media screen and (max-width:992px) {
  .home {
    width: 100%;
    height: 100%;

  }
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .img-box {
    height: 50vh;
  }
  .img-box img {
   margin-left: 10%;
    transform: translateX(0);
  }

  .letter-effect{
    margin-left: 0;
  }

.like-text, .popup-effect, .download-button {
  font-size: 31px;
} 
.popup-text span {
  font-size: 35px;
}
.desc{
  font-size: 18px;
}


}

/* Media query for screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 992px) {
  .img-box {
    padding-bottom: 60%;
    width: 50%;
    height: 70vh;
    margin-left: 20%;
  }
  
  .img-box img {
    width: 100%; /* Adjust the width for medium-sized screens */
  }
}
